  .stickyNavbar {
    background-color: #1E3C63;
    transition: background-color 0.5s ease-in-out;
    opacity: 0.8;
  }
  
.stickyNavbar a {
    color: white;
    display: inline-block;
    margin: 0 10px;
  }

.stickyNavbar a:hover {
    color: #00182e;
  }
  