.custom-arrow::before {
    display: none;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.next-arrow {
    right: 10px;
}

.prev-arrow {
    left: 10px;
}

.custom-arrow svg {
    width: 24px;
    height: 24px;
    color: #38598F;
}
